.navbar {
    background-color: white;
    position: fixed; /*static ... always at the top*/
    top: 0;  /*put it at very top*/
     width: 100%;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;  /*omit underline*/
    color: gray;
}

.banner {
    background-color: #800080;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

#small-flower { 
    height: 200px;
    width: 200px;
    filter: drop-shadow(2px 2px 2px black);
}

.main-section {
    padding: 20px 50px;
}

#flower {
    color: #800080;
    font-size: 50px;
}

#greets ul{
    list-style-type: none;
}

.avator {
    background-image: url(../images/hydrangea0.PNG);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.bold {
    font-weight: 900;
}

a.purple {
    color: #800080;
}
